@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';


input::-webkit-search-cancel-button {
  appearance: none;
  width: 20px;
  height: 20px;
  color: red;
  background: url();
}
aside[data-open='true'] {
  opacity: 1;
  z-index: 100;
}
@theme {
  --color-accent: #fea400;
  --color-inter: #f4f4f5;
  --color-accent-shadow: #dc561b;
}
html::selection {
  background-color: var(--color-accent);
}
input[type='search']:focus+.icon-focus{
 color: var(--color-accent);
}
@layer base {
  html:has(.wrapper[data-theme='dark']) {
    --foreground: #ffffff;
    --background: #212121;
    --color-inter: #2c2c2c;
  }
  html:has(.wrapper[data-theme='light']) {
    --foreground: #212121;
    --background: #ffffff;
    --color-inter: #f4f4f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: 'Inter', sans-serif;
}
