@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import 'tailwindcss';

:root {
  --background: #fafafa;
  --foreground: #101113;
  --color-inter: #e7e7e7;
  --color-extra: #9aa6b2;
  --color-accent: #ff740b;
  --color-accent-shadow: #ff0000;
}
.wrapper {
  background: linear-gradient(to bottom, var(--background), var(--color-extra));
}

input::-webkit-search-cancel-button {
  appearance: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: center url('/icons/cross.svg') no-repeat;
}
.dark {
  --background: #101113;
  --foreground: #faf7e8;
  --color-inter: #303138;
  --color-extra: #373942;
}

.light {
  --background: #fafafa;
  --foreground: #101113;
  --color-inter: #e7e7e7;
  --color-extra: #9aa6b2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-inter: var(--color-inter);
  --color-extra: var(--color-extra);
  --color-accent: var(--color-accent);
  --color-accent-shadow: var(--color-accent-shadow);
  --font-sans: 'Inter', sans-serif;
  --font-emoji: 'Noto Color Emoji', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0;
}

.message {
  font-family: var(--font-emoji);
}

input[type='search']:focus + .icon-focus,
.input-active + .icon-focus {
  color: var(--color-accent);
}

.input-active::placeholder {
  color: var(--color-accent);
}

::selection {
  background-color: var(--color-accent);
  color: white;
}

@keyframes modaL {
  0% {
    transform: translateY(-130%);
    opacity: 0;
  }

  50% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-130%);
    opacity: 0;
  }
}

@media (max-width: 640px) {
  em-emoji-picker {
    width: 100%;
  }
}
.custom-title {
  font-family: 'Water Brush', cursive;
  user-select: none;
}
.modal-anim {
  animation: modaL 2.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: both;
}
