@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import 'tailwindcss';

:root {
  --background: #fafafa;
  --foreground: #101113;
  --color-inter: #e7e7e7;
  --color-extra: #a3aeb9;
}
@theme {
  --color-background: #fafafa;
  --color-foreground: #101113;
  --color-accent: #ff740b;
  --color-accent-shadow: #ff0000;
  --font-sans: 'Inter', sans-serif;
  --font-emoji: 'Noto Color Emoji', sans-serif;
  --animate-fly: fly 30s ease-in-out 5s infinite;
  --animate-spaceship: spaceship 7s linear 3s infinite;
  --animate-meteor: meteor 5s linear 7s infinite;
}
:root {
  --background: #fafafa;
  --foreground: #101113;
  --color-inter: #e7e7e7;
  --color-extra: #a3aeb9;
}

body.theme-dark {
  --background: #101113;
  --foreground: #faf7e8;
  --color-inter: #303138;
  --color-extra: #34363e;
}

.theme-dark .bg-inter {
  background-color: #303138 !important;
}

.theme-light .bg-inter {
  background-color: #e7e7e7 !important;
}

.theme-dark .bg-background {
  background-color: #101113 !important;
}

.theme-light .bg-background {
  background-color: #fafafa !important;
}

.theme-dark .text-foreground {
  color: #faf7e8 !important;
}

.theme-light .text-foreground {
  color: #101113 !important;
}

input::-webkit-search-cancel-button {
  appearance: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: center url('/icons/cross.svg') no-repeat;
}
aside[data-open='true'] {
  opacity: 1;
  z-index: 100;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 0;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-custom:hover::-webkit-scrollbar-thumb {
  background: transparent;
}

html::selection {
  background-color: var(--color-accent);
  color: white;
}
input[type='search']:focus + .icon-focus,
.input-active + .icon-focus {
  color: var(--color-accent);
}
.input-active::placeholder {
  color: var(--color-accent);
}

.message {
  font-family: 'Noto Color Emoji', sans-serif;
}

.modal-anim {
  animation: modaL 2.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
}
@keyframes modaL {
  from {
    transform: translateY(-130%);
  }
  50% {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-130%);
  }
}
@keyframes fly {
  from {
    transform: rotate(0deg);
  }
  to {
    left: 110%;
    bottom: 80%;
    transform: rotate(180deg);
  }
}
@keyframes spaceship {
  from {
    bottom: -100px;
  }
  to {
    bottom: 100%;
  }
}
@keyframes meteor {
  from {
    top: 50%;
  }
  to {
    left: 50%;
    top: -110%;
  }
}
