@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root {
  --background: #fafafa;
  --foreground: #101113;
  --color-inter: #e7e7e7;
  --color-extra: #9aa6b2;
  --color-accent: #ff740b;
  --color-accent-shadow: #ff0000;
}

.theme-dark {
  --background: #101113;
  --foreground: #faf7e8;
  --color-inter: #303138;
  --color-extra: #373942;
}

.theme-light {
  --background: #fafafa;
  --foreground: #101113;
  --color-inter: #e7e7e7;
  --color-extra: #9aa6b2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-inter: var(--color-inter);
  --color-extra: var(--color-extra);
  --color-accent: var(--color-accent);
  --color-accent-shadow: var(--color-accent-shadow);
  --font-sans: 'Inter', sans-serif;
  --font-emoji: 'Noto Color Emoji', sans-serif;
}

body {
  background: red;
  color: var(--foreground);
  font-family: var(--font-sans);
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0;
}

.message {
  font-family: var(--font-emoji);
}

input[type='search']:focus + .icon-focus,
.input-active + .icon-focus {
  color: var(--color-accent);
}

.input-active::placeholder {
  color: var(--color-accent);
}

::selection {
  background-color: var(--color-accent);
  color: white;
}

@keyframes modaL {
  from {
    transform: translateY(-130%);
  }
  50% {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-130%);
  }
}

@keyframes fly {
  from {
    transform: rotate(0deg);
  }
  to {
    left: 110%;
    bottom: 80%;
    transform: rotate(180deg);
  }
}

@keyframes spaceship {
  from {
    bottom: -100px;
  }
  to {
    bottom: 100%;
  }
}

@keyframes meteor {
  from {
    top: 50%;
  }
  to {
    left: 50%;
    top: -110%;
  }
}

.modal-anim {
  animation: modaL 2.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
}
